<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= foundProduct.name %></title>
</head>

<body>
  <h1><%= foundProduct.name %></h1>
  <div>
    <ul>
      <li>Price: $<%= foundProduct.price %></li>
      <li>Price: <%= foundProduct.category %></li>
    </ul>
  </div>
  <a href="/products">All Products</a>
</body>

</html>