<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<!-- ejs have tags to show it is not html -->

<body>
    <%- include('partials/navbar') %>
    <!-- tag show up as a string literal -->
    <h1>
        Home Page <%= 4+1+5 %>
        <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Debitis, sapiente, molestiae sunt natus nihil nobis aperiam ipsum in deleniti facilis et dolorem quo minima
        earum totam eveniet nemo fuga porro.
    </p>

</body>

</html>